.info{
  display: flex;
  align-items: center;
}
.info2{
  padding-left: 5px;
}
ion-content{
  --ion-background-color: #bc77e7;
}

ion-title{
  font-size:25px;
}

ion-card-title{
  font-size:20px;
  color: black;
}

.conteudo{
  width: 97%;
  height: 100%;
  margin: auto;
  border-radius: 30px;
}
