ion-title {
    font-size: 25px;
}

ion-datetime {
    color: rgb(170, 170, 170);
}
ion-header{
    height: 60px;
}
span {
    font-size: 13px;
    color: rgb(237, 142, 142);
}
ion-content{
    --ion-background-color: #9ce0c6;
}

ion-list{
  --ion-background-color:white;
  padding-bottom: 20px;
  height: 100%;
}
